body{
  text-align: center;
  background: #fffdf7;
  color: #2f8aeb;
  font: georgia;
}

h1{
  width: 100%;
  font-size: 50px;
  letter-spacing: 5px;
  color: #96c9ff;
  text-shadow: 2px 2px #074485;
}

h2{
  width: 100px;
  font-size: 30px;
  letter-spacing: 5px;
  color: #074485;
  background-color: #96c9ff;
  position: relative;
  left: 3%;
  top: 40%;
  transform: translate(-50%,-50%);
  margin: 0 auto;
  z-index: 1;
  border-radius: 50%;
  /* left: 47% */
  /* text-shadow: 2px 2px #074485; */
}

.fa-instagram{
  height: 47px;
}
.fa-linkedin{
  height: 47px;
}

/* .header {
  text-align: center;
  padding: 32px;
} */

#gallery {
   line-height:0;
   -webkit-column-count:1; /* split it into 5 columns */
   -webkit-column-gap:5px; /* give it a 5px gap between columns */
   -moz-column-count:1;
   -moz-column-gap:5px;
   column-count:1;
   column-gap:5px;
}

#gallery img {
   width: 100% !important;
   height: auto !important;
   margin-bottom:5px; /* to match column gap */
}

@media (max-width: 1200px) {
   #gallery {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
   }
}

@media (max-width: 1000px) {
   #gallery {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
   }
}

@media (max-width: 800px) {
   #gallery {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
   }
}

@media (max-width: 400px) {
   #gallery {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
   }
}

/*nav bar*/
/* .topnav {
  background-color: #fffdf7;
  overflow: hidden;
  margin-top: 15px;
} */

/* Style the links inside the navigation bar */
/* .topnav a {
  float: right;
  color: #ffc67a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */

/* Change the color of links on hover */
/* .topnav a:hover {
  background-color: #fcd7a7;
  color: #fffdf7;
} */

/* Add a color to the active/current link */
/* .topnav a.active {
  background-color: #ffc67a;
  color: #fffdf7;
} */

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #fffdf7;
  font-family: georgia;
  margin-top: 15px;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  font-size: 16px;
  color: #ffc67a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #fffdf7;
  padding: 14px 16px;
  background-color: #ffc67a;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ffc67a;
  color: #fffdf7;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fffdf7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #ffc67a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ffc67a;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.info{
  color: #074485;
  font-size: 20px;
  /* font: times; */
}

.insta{
  /* max-height: 10px; */
}

.header{
  max-width:100%;
  height: auto;

}
